@import "base/basic.css";
@import "base/layout.css";
@import "flexslider.css";
@charset "utf-8";

/* layout */
header { height: 35em; }
section { overflow: hidden; padding: 20px 0 }
footer { color: #3E8582; }

/* head */
.summary {
    border-top: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
    color: #4C519F;
    font-size: .938em;
    font-weight: bold;
    text-align: center;
    padding: 13px 0;
    position: relative;
    top: 107px;
}
#banner {
    max-width: 1007px;
    height: 24.5em;
    margin: auto;
    top: 140px;
}
.slides li { position: relative; }
#banner img {
    float: left;
    margin-right: 20px;
    width: auto;
    max-width: 34.375em;
    max-height: 24.5em;
}
.slides h3,
.slides h4,
.slides h5 { line-height: 110%; margin: 0; }
.slides .float-l { width: 420px; text-align: left; }
.slides h3 { color: #E8E8E8; font-size: 6em; margin-left: -10px; }
.slides h4 { color: #F3B552; font-size: 2.625em; }
.slides h5 { color: #F3B552; font-size: 1.625em; }
.slides p {
    color: #797879;
    font-size: .875em;
    margin-top: 10px;
}
.slides .btn { border: none; float: right; }

.flex-direction-nav a { width: 44px; height: 88px; }
.flex-direction-nav a:before {
    background-attachment: fixed;
    background: url(../images/slide-nav.png) 0 0 no-repeat;
    content: '';
    text-align: left;
    width: 44px; height: 88px;
    text-indent: -9999px
}
.flex-direction-nav a.flex-next:before {
    background-position: right 0;
}

/* foot */
footer { background: #2F2A4F; }
.copyright { color: #7F79AB;}

/* main */
article {
    max-width: 1220px;
    margin: auto;
    text-align: left;
    overflow: hidden;
}
.newest .btn, .about .btn { color: #fff;}

.newest {
    background: url(../images/line.gif) 0 94px repeat-x;
    padding-bottom: 40px;
}
.newest article { text-align: center; }
.newest h2 { text-align: left; }
.newest u {
    text-decoration: none;
    border-bottom: 4px solid #FFBD52;
    line-height: 52px;
}
figure {
    width: 495px; height: 250px;
    background: #181842;
}
figure figcaption { background: url(../images/proBg.png) right 0 repeat-y; }
figure img { margin-top: -15px; }
figure h3 {
    color: #FFBD52;
    font-size: 1.625em;
    line-height: 150%;
    text-align: right;
    position: absolute;
}
figure em { color: #fff; font-size: 1.346em; display: block; }
figure h4, figure p { text-align: left; }
figure h4 { color: #FFBD52; font-size: 1.875em; }
figure p { color: #fff; letter-spacing: 1px; margin: 0; }
figure .btn {  position: absolute; right: 20px; bottom: 20px; }

/* 產品列表特效 */
figure h3,
figure em,
figure h4,
figure p {
    -webkit-transition: opacity 0.25s, -webkit-transform 0.35s;
    -ms-transition: opacity 0.25s, -ms-transform 0.35s;
    transition: opacity 0.25s, transform 0.35s;
}
figure h3 { right: 30px; top: 40px; }
figure h4,
figure p {
    -webkit-transform: translate3d(30px,175px,0);
    -ms-transform: translate3d(30px,175px,0);
    transform: translate3d(30px,175px,0);
    opacity: 0;
}

figure:hover h3 {
    color: #E8E8E8;
    font-size: 3.437em;
    text-align: center;
    left: 0;
    -webkit-transform: translate3d(0,-50px,0);
    -ms-transform: translate3d(0,-50px,0);
    transform: translate3d(0,-50px,0);
    width: 100%;
    opacity: .1;
}
figure:hover em { opacity: 0; }
figure:hover h4,
figure:hover p {
    opacity: 1;
    -webkit-transform: translate3d(30px,80px,0);
    transform: translate3d(30px,80px,0);
}
figure:hover p {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
    -webkit-transition-duration: 0.35s;
    transition-duration: 0.35s;
}

.about {
    background: url(../images/index/about.jpg) center no-repeat;
    -moz-background-size: cover;
    background-size: cover;
    padding: 40px 0;
}
.about article {
    border: 1px solid #C69452;
    padding: 20px;
    margin: auto;
    width: 93%;
    max-width: 1007px;
    position: relative;
}
.about h2,
.about p { float: left; }
.about h2 { font-size: 3.75em; letter-spacing: 1px; width: 35%; }
.about p {
    background: rgba(20,21,51,.8);
    color: #fff;
    font-size: .937em;
    line-height: 175%;
    padding: 20px;
    width: 64%;
    box-sizing: border-box;
}
.about strong { font-size: 1.333em; }
.about .btn {
    position: absolute;
    top: 110px; left: 210px;
}

.contacts { background: #50497F; }
iframe {
    float: left;
    margin: 0 35px 0 10px;
    width: 55%; height: 285px;
}
.contacts h2,
.contacts ul { float: left; }
.contacts h2 {
    color: #FFBD52;
    font-size: 3.438em;
    letter-spacing: 2px;
    width: 40%;
    margin: 0;
}
.contacts ul { color: #fff; line-height: 187.5%;}
.contacts strong { color: #FFBD52; font-size: 1.375em; }
.contacts a { color: #fff; }
.contacts a:hover { color: #ffbd52; }


/* RWD
-----------------------------------------------------------------------*/
@media all and (min-width: 1025px) {
    #banner { max-width: 1220px; }
    #banner img { margin-left: 20px; }
    .slides .float-l { width: 560px; }
    .about article { max-width: 1200px; }
    .about h2 { width: 30%; }
    .about p { width: 69%; }
    .about .btn { left: 220px; }
    iframe { margin-left: 0; }
}
