@{
  ViewBag.Title = "公司簡介";
  Layout = "~/Views/Shared/Layout.cshtml";
}

@section css {
    <link rel="stylesheet" href="~/Content/css/page.css">
}

<ul class="brandcrumb">
    <li><a href="~/index">HOME</a></li>
    <li>公司簡介</li>
</ul>

<div id="content">

    <h2>關於承信堆高機</h2>
    <img src="~/Content/images/pic.jpg" alt="關於我們插圖" class="float-r">
    <p>承信堆高機專業經營日本外匯進口堆高機及各廠牌之柴油、汽油堆高機、電動堆高機等買賣及中長期租賃，更有專業維修保養廠及優良的維護工程師團隊，工程師皆受過各式堆高機專業完整的技術訓練及高品質的維護經驗。</p>
    <p>我們的中古堆高機皆自日本外匯原裝進口，品質優良、價格合理、售後服務效率高，是貴公司長期合作的好夥伴，有現貨可供挑選，歡迎親臨本廠實際檢驗、實車操作，有專業技師現場解說，相信能符合貴公司需求。現場近百餘輛堆高機 1T~15T 機種齊全，歡迎參觀。</p>
    <p>承信堆高機多年來秉持誠信篤實經營理念，服務範圍持續擴大，客戶也不斷增長，承信總是盡最大努力提供最高品質的素質與技術。具有豐富經驗，為客戶提供即時的服務、經濟的產品，追求各界客戶的滿意與肯定。深受各界信賴行銷國內外。具競爭力的價格、高品質機械、快速出貨與最佳服務是我們一貫堅持與優勢。</p>
    <p>專業電動堆高機服務團隊，無論是銷售工程師或堆高機維修保養工程師，皆受過完整訓練，全力提供您精準資訊及建議。完善售後維修服務及多年實務經驗，讓您無後顧之憂。嚴選知名品牌優質堆高機( TOYOTA、SUMITOMO/ SHINKO、 NICHYU、YALE、TCM、KOMATSU、MITSUBISHI...等)</p>
    <h3>本公司專業服務項目：</h3>
    <ul class="text-list">
        <li>各式外匯柴油堆高機、電動堆高機、汽油堆高機、自走式堆高機、瓦斯中古堆高機、立式電動堆高機、二手堆高機販售</li>
        <li>提供堆高機出租及堆高機維修保養</li>
        <li>歡迎有堆高機買賣、堆高機租賃的服務需求，請與我們連繫</li>
    </ul>
</div><!-- content //-->

@Html.Partial("sidebar")